body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #2e2e2e;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #3d5c2d; /* verde feio */
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border: 1px solid #3d5c2d;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #3d5c2d;
  color: white;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.despesa-item {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid #3d5c2d;
}

.btn-excluir {
  background-color: #c0392b;
  color: white;
  font-weight: bold;
}

.btn-excluir:hover {
  background-color: #e74c3c;
}